body{
    background: linear-gradient(#7ebfb3, #a7f2e4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainBox{
    border-style: none;
    border-radius: 25px;
    box-shadow: 0 14px 28px #4F7369, 0 10px 10px #4F7369;

    width: 90%;
    height: 90vh;
    top: 10%;
    left: 10%;

    margin: auto;
    
    margin-top: 5vh;
    margin-bottom: 5vh;

    background-color: #ebf2f1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poopins", sans-serif;

}

h1{
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #194759;

    margin: 0;
    margin-bottom: 15px;
}

button{
    letter-spacing: 2px;
    color: #ebf2f1;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 80px;

    border-radius: 20px;
    border: 1px none;
    background-color: #194759;
    transition: 0.3s ease-in-out;
}

button:hover{
    letter-spacing: 4px;
}

button:active{
    outline: none;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    margin: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    width: 100%;

    font-family: "Poopins", sans-serif;
    font-size: 13px;

}
