@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  display: flex;
  background-color: #7ebfb3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
}

#desc {
    border: 2px solid #194759;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: 1000px;
    /*max-width: 100%;*/
    padding: 25px;


    font-size: large;

    font-weight: 100;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    color: #194759;


    /*letter-spacing: 0.5px;*/
    /*margin: 20px 0 30px;*/
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}